/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    
}

html a {
    text-decoration: none;
    color: white;
}

html img {
    max-width: 100%;
}
.color-white{
   color: white;
   
    

}
.color-grey{
    color: grey;
    
    
}
.Size{
    font-size: 2rem;
}

/*MAIN*/

/*BLACK AREA*/
.Black-area{
    background-color: black;
    height: calc(100vh - 100px);
    width: 250px;
    display: flex;
    flex-direction: column;
    position: fixed;
    color: white;
    
}
.logo{
    width: 200px;
    height: 50px;
    padding-top: 15px;    
}
.Black-list{
    margin-top: 50px;
    margin-left: 15px;
    font-size: 1.5rem;
    list-style: none;
}

.color{
    color: grey;
}
.Black-margin{
    margin-top: 10px;
}
.Black-h3{
    margin-left: 15px;
    margin-top: 30px;
}
.Playlist{
    height: 40px;
    width: 40px;
    background-color: grey;
    margin-top: -30px;
    display: inline-block;
    
}
.Playlist2{
    color: grey;  
    
}


/*FOOTER*/
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.Bg-grey{
    background-color: #282828;
    color: white;
}
.barra {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 60px;
}
.Margin-Left{
    margin-left: 20px;
}
.Margin-right{
    margin-right: 20px;
}
.Img-co-sang{
    height: 60px;
    width: 60px;
    display: inline;
    
}

.Left-fot {
    display: flex;
    padding-top: 17px;
}
.h3-fot{
    margin-left: 10px;
    margin-bottom: -20px;
}
.p-fot{
    
    color: grey;
    margin-left: 10px;
    margin-top: -20px;
}
.H3-p{
    display: flex;
    flex-direction: column;
    
}
.i-fot{
    padding-top: 10px;
    margin-left: 10px;
    color: grey;
}
#shuffle{
    margin-left: -20px;
}
#backward {
    margin-left: 30px;
}
#circle {
    margin-left: 20px;
}
#forward {
    margin-left: 30px;
}
#rotate {
    margin-left: 20px;
}
#list{
    margin-left: 20px;
}
#desktop{
    margin-left: 20px;
}
#volume{
    margin-left: 20px;
}
.Volume{
    background-color: white;
    height: 1px;
    width: 50px;
    display: inline;
}